/*---------------------
 section one 
 -------------------------*/

/* For the whole content*/
.section.one {
  /* padding: 200px; */
  /* margin-left: 150px; */
  padding-right: 150px;
  /* margin-right: 150px;background-color: aquamarine; */
  background: rgba(255, 144, 14, 0.1);
  padding-left: 150px;
}
/* architects */
.architects {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
  margin: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}
nav ul {
  display: flex;
  align-items: center;
  font-family: "Work Sans", sans-serif;
}
nav li {
  list-style: none;
  margin-left: 50px;
  color: #424242;
}

/* For center content*/
.content {
  text-align: center;
}
.banner-heading {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}
.banner-title {
  padding-top: 65px;
}
.banner-sub-title {
  padding-bottom: 15px;
}

.parag {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  /* padding-top: 25px;
    padding-bottom: 55px; */
  padding: 25px 185px 55px 185px;
}

/* Button Section */
.btn-primary {
  width: 180px;
  height: 64px;
  background: #ff900e;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  border: 0;
  padding: 21px 24px;
  margin-bottom: 65px;
}

/* image */
.image {
  /* margin-right: 10%; */
  width: 1157px;
}

/*----------------------
   second section
   ------------------------ */
.image-flex-one {
  display: flex;
  padding: 95px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
.grid-image {
  width: 280px;
  height: 280px;
}
.font-change {
  color: #727272;
  font-weight: 500;
  font-size: 45px;
}
.change-later {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.color-change {
  font-weight: 700;
  font-size: 45px;
  color: #ff900e;
}

.heading-button {
  margin-top: 125px;
  margin-left: 85px;
  margin-right: 150px;

  font-family: "Work Sans", sans-serif;
}

/*-----------------------
   Third Section Here
  ----------------------- */
.second-flex {
  display: flex;
  padding: 95px;
  gap: 35px;
}

/* Third button */
.third-btn {
  width: 342px;
  height: 200px;
  background: #ff900e;
  border-radius: 8px;
  border: none;
  font-weight: 700;
  font-size: 45px;
  text-align: center;
  color: #ffffff;
  margin-top: -195px;
  margin-left: -75px;
}
.color {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 5px;
  margin: 15px;
}

.features-one {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
  width: 468px;
  font-family: "Work Sans", sans-serif;
  /* margin-bottom: 85px; */
  /* height: 106px; */
}

.features-two {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
  width: 468px;
  font-family: "Work Sans", sans-serif;
  margin-bottom: 75px;
  /* height: 106px; */
}
.para-two {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-bottom: 65px;
}
.para-heading {
  font-weight: 600;
  font-size: 20px;
  color: #131313;
  /* padding: 30px; */
  padding-left: 30px;
  padding-right: 30px;
  /* background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06); */
  font-family: "Work Sans", sans-serif;
}
.para {
  padding-left: 30px;
  padding-right: 30px;
  color: #727272;
  /* background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06); */
  font-family: "Work Sans", sans-serif;
}

/* section four */
.some-facts {
  font-weight: 700;
  font-size: 45px;
  font-family: "Work Sans", sans-serif;
  margin-left: 125px;
}
.fact-para {
  margin-left: 125px;
  font-family: "Work Sans", sans-serif;
}
.font-size {
  font-weight: 600;
  font-size: 45px;
  font-style: normal;
  color: #424242;
  font-family: "Work Sans", sans-serif;
}
.font-style {
  font-weight: 600;
  font-size: 20px;
  font-style: normal;
  color: #727272;
}

.logo {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-top: 35px;
}
.border {
  border: 1px solid #ff900e;
  border-radius: 8px;
  margin: 35px;
  width: 261.83px;
  height: 291.83px;
  text-align: center;
  margin-top: 35px;
}
.icon-image {
  margin-top: 35px;
}
.experience-one {
  font-weight: 500;
  font-size: 25px;
  color: #ffffff;
  text-align: center;
}

/* Sponsors Section */
.sponsors {
  text-align: center;
  margin-top: 35px;
}
.sponsor-heading {
  font-weight: 700;
  font-size: 45px;
  font-family: "Work Sans", sans-serif;
  color: #131313;
}

.sponsor-para {
  font-weight: 400;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  margin-bottom: 35px;
}

/* Sponsors-logo */

.logo-sponsor {
  display: flex;
  margin-top: 125px;
  justify-content: center;
}
.image-space {
  padding: 35px;
}
.quote {
  width: 1440px;
  height: 100px;
  background: #fff4e7;
  margin-top: 15px;
  border-radius: 8px;
  margin-bottom: 295px;
}
.quote-para {
  margin-top: 95px;
  font-weight: 400;
  font-size: 20px;
  color: #424242;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  align-content: center;
  padding-top: 39px;
}

/* 
/*----------------------------------
 Media Query/ Responsive Styles......

 .........Mobile Device..............
 -----------------------------------*/

/* @media only screen and (max-width: 6688px) {
    
    .second-flex{
        flex-direction: column;
        padding: 0;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }
    .logo{
        flex-direction: column;
        align-items: center;
    }

 }

 /* Hide Menu */

/* .hide{
    display: none;
 } */
